<div id="modal-header" class="row">
    <h2>{{ project.name }}</h2>
    <a *ngIf="project.url" [href]="project.url" target="_blank"><mat-icon>launch</mat-icon></a>
</div>

<div id="modal-body">
    <p>{{ project.description }}</p>

    <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="selectedRepository">
            <mat-option *ngFor="let repository of project.repositories" [value]="repository">
                {{ repository.name }}
            </mat-option>
        </mat-select>
        <mat-icon matPrefix>folder</mat-icon>
    </mat-form-field>

    <div id="repository-info-block" class="row">
        <div class="row">
            <div class="column" *ngIf="selectedRepository.createdAt || selectedRepository.updatedAt">
                <div class="field" *ngIf="selectedRepository.createdAt">
                    <div class="field-title">Created at</div>
                    <div class="field-value">{{ selectedRepository.createdAt | epochDate }}</div>
                </div>

                <div class="field" *ngIf="selectedRepository.updatedAt">
                    <div class="field-title">Last updated at</div>
                    <div class="field-value">{{ selectedRepository.updatedAt | epochDate }}</div>
                </div>
            </div>

            <div class="column" *ngIf="selectedRepository.cloudInfrastructure || selectedRepository.cicd">
                <div class="field" *ngIf="selectedRepository.cloudInfrastructure">
                    <div class="field-title">Cloud</div>
                    <div class="field-value">{{ selectedRepository.cloudInfrastructure }}</div>
                </div>

                <div class="field" *ngIf="selectedRepository.cicd">
                    <div class="field-title">CI/CD</div>
                    <div class="field-value">{{ selectedRepository.cicd }}</div>
                </div>
            </div>

            <div class="column">
                <div class="field" *ngIf="selectedRepository.technologies">
                    <div class="field-title">Technologies</div>
                    <div class="field-value" *ngFor="let technology of selectedRepository.technologies">{{ technology }}</div>
                </div>
            </div>

            <div class="column">
                <div class="field" *ngIf="selectedRepository.skills">
                    <div class="field-title">Skills</div>
                    <div class="field-value" *ngFor="let skill of selectedRepository.skills">{{ skill }}</div>
                </div>
            </div>
        </div>
        <a [href]="selectedRepository.url" target="_blank"><app-github-icon></app-github-icon></a>
    </div>
</div>