@use '~@angular/material' as mat;
@import './color-palettes/app-dark-blue.palette';
@import './color-palettes/app-yellow.palette';

$primary-palette: mat.define-palette($app-dark-blue-palette);
$accent-palette: mat.define-palette($app-yellow-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

$primary-font: 'Raleway', 'Helvetica Neue', sans-serif;
$muted-grey: #8D8D8D;
$body-text-color: #c3c3c3;

$app-theme: mat.define-dark-theme((
    color: (
        primary: $primary-palette,
        accent: $accent-palette,
        warn: $warn-palette
    )
));