<h1 class="title">About Me</h1>

<div class="row">
    <div id="description-container" class="col-12 col-md-6">
        <!--    TODO: Replace placeholder text    -->
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
    </div>
    <div id="portrait-container" class="row col-12 col-md-6">
        <img src="assets/images/portrait.jpg" alt="Portrait">
    </div>
</div>