@use '~@angular/material' as material;
@import '../../theme/app.theme';
@import '../../theme/mixins/apply-to-desktop.mixin';
@import '../../theme/mixins/apply-to-tablet.mixin';

#flip-cards-container {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.flip-card {
    background-color: transparent;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 15px;
    user-select: none;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    &:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front {
        .flip-card-title {
            font-size: 1.5rem;
            margin: auto;
        }

        mat-icon {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    .flip-card-back {
        transform: rotateY(180deg);
        font-size: 0.8rem;
        text-align: left;

        .row {
            justify-content: space-between;
        }

        .flip-card-title {
            height: fit-content;
            margin-top: auto;
            margin-bottom: auto;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .flip-card-front, .flip-card-back {
        background-color: material.get-color-from-palette($primary-palette, darker);
        padding: 15px;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 15px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .flip-card-title, mat-icon {
        color: material.get-color-from-palette($accent-palette, default);
    }
}

@include apply-to-tablet() {
    .flip-card-back {
        font-size: 1rem;
    }
}

@include apply-to-desktop() {
    :host {
        width: 80%;
        max-width: 750px;
    }

    #description-container {
        margin-bottom: 5px;

        p:first-of-type {
            margin-top: 0;
        }
    }

    .flip-card {
        height: 250px;
    }

    .flip-card-back .row {
        margin-bottom: 10px;
    }
}