<h1 class="title">About Me</h1>

<div class="row">
    <div id="description-container">
        <p>
            My interest in Development started as most people’s did, games.
            I thought it would be cool to build my own game so I started coding and I have never looked back.
        </p>
        <p>
            My passion for Programming and Development only grew as I did.
            Today still, my passion for Programming grows and reaches beyond Software Development to other facets of the IT Industry, such as Cloud Infrastructure.
        </p>
        <p>
            Now I spend my time building efficient solutions and good-looking applications,
            while also growing my arsenal of frameworks and tools, without forgetting my basics and roots as a Developer.
        </p>
    </div>
    <div id="flip-cards-container" class="row">
        <div class="flip-card col-12 col-md-4">
            <div class="flip-card-inner">
                <div class="flip-card-front column">
                    <mat-icon>swap_horiz</mat-icon>
                    <div class="flip-card-title">What I Am</div>
                </div>
                <div class="flip-card-back column">
                    <div class="row">
                        <div class="flip-card-title">What I Am</div>
                        <mat-icon>swap_horiz</mat-icon>
                    </div>
                    <ul>
                        <li>Passionate</li>
                        <li>Precise</li>
                        <li>Driven</li>
                        <li>Studious</li>
                        <li>Growing</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card col-12 col-md-4">
            <div class="flip-card-inner">
                <div class="flip-card-front column">
                    <mat-icon>swap_horiz</mat-icon>
                    <div class="flip-card-title">What I Do</div>
                </div>
                <div class="flip-card-back column">
                    <div class="row">
                        <div class="flip-card-title">What I Do</div>
                        <mat-icon>swap_horiz</mat-icon>
                    </div>
                    <ul>
                        <li>Build elegant solutions</li>
                        <li>Produce pleasant UI/UX</li>
                        <li>Integrate solutions to produce systems</li>
                        <li>Create cloud based solutions</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flip-card col-12 col-md-4">
            <div class="flip-card-inner">
                <div class="flip-card-front column">
                    <mat-icon>swap_horiz</mat-icon>
                    <div class="flip-card-title">How I Do It</div>
                </div>
                <div class="flip-card-back column">
                    <div class="row">
                        <div class="flip-card-title">How I Do It</div>
                        <mat-icon>swap_horiz</mat-icon>
                    </div>
                    <ul>
                        <li>Quality code</li>
                        <li>Seamless collaboration</li>
                        <li>Diligence</li>
                        <li>Logical and process-driven mindset</li>
                        <li>Attention to detail</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>