$app-dark-blue-palette: (
    50 : #e2e5e6,
    100 : #b6bfc1,
    200 : #859497,
    300 : #54696d,
    400 : #2f484e,
    500 : #0a282f,
    600 : #09242a,
    700 : #071e23,
    800 : #05181d,
    900 : #030f12,
    A100 : #53d4ff,
    A200 : #20c7ff,
    A400 : #00b1ec,
    A700 : #009ed3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

