$app-dark-blue-palette: (
    50 : #e4e4e6,
    100 : #babcc0,
    200 : #8d9097,
    300 : #5f646d,
    400 : #3c424d,
    500 : #1a212e,
    600 : #171d29,
    700 : #131823,
    800 : #0f141d,
    900 : #080b12,
    A100 : #558eff,
    A200 : #226cff,
    A400 : #004fee,
    A700 : #0047d4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

