$app-yellow-palette: (
    50 : #fef4e3,
    100 : #fbe5b8,
    200 : #f9d389,
    300 : #f7c159,
    400 : #f5b436,
    500 : #f3a712,
    600 : #f19f10,
    700 : #ef960d,
    800 : #ed8c0a,
    900 : #ea7c05,
    A100 : #ffffff,
    A200 : #ffeedf,
    A400 : #ffd3ac,
    A700 : #ffc592,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);