<div id="container">
    <h1 class="title">Say hello</h1>

    <p>I am not currently seeking job opportunities but, I would however, love to hear from you!</p>

    <div class="row">
        <a [href]="'mailto:' + emailAddress">
            <button class="btn-ghost">
                <mat-icon buttonPrefix>email</mat-icon>
                <span>{{ emailAddress }}</span>
            </button>
        </a>
        <a [href]="linkedInProfileLink" target="_blank">
            <button class="btn-ghost">
                <app-linkedin-icon buttonPrefix></app-linkedin-icon>
                <span>{{ linkedInUsername }}</span>
            </button>
        </a>
        <a [href]="githubProfileLink" target="_blank">
            <button class="btn-ghost">
                <app-github-icon buttonPrefix></app-github-icon>
                <span>{{ githubUsername }}</span>
            </button>
        </a>
    </div>
</div>
