@use '~@angular/material' as material;
@import '../../theme/app.theme';
@import '../../theme/mixins/apply-to-desktop.mixin';

.title {
    margin-bottom: 25px;
}

mat-form-field {
    width: 100%;
    height: 35px;

    input {
        padding-left: 12px;
    }
}

pagination-controls:first-of-type {
    display: block;
    margin-top: 15px;
}

#project-list {
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 260px) );
    grid-auto-rows: auto;
    justify-content: center;
}

.error-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;

    mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        margin-bottom: 10px;
    }

    span {
        width: fit-content;
    }
}

.project-card {
    background-color: material.get-color-from-palette($primary-palette, darker);
    padding: 15px;
    margin: 0 auto 15px auto;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;

    mat-icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
    }

    p {
        width: 100%;
        height: 125px;
        margin: 0;
        font-size: 0.8rem;
        overflow: hidden;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(120%);
        transition: filter 0.2s;
    }
}

@include apply-to-desktop() {
    .project-card {
        margin: 0 10px 10px 10px;

        &:last-child {
            margin-bottom: 10px;
        }
    }

    :host {
        max-width: 1250px;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}