@use '~@angular/material' as material;
@import '../../../theme/app.theme.scss';

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 20px;
    color: material.get-color-from-palette($primary-palette, default-contrast);
    background: rgba(material.get-color-from-palette($primary-palette, default), 0.95);
    box-shadow: 0 8px 32px 0 rgba(material.get-color-from-palette($primary-palette, default), 0.65);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.navigation-item:hover {
    opacity: 0.8;
    cursor: pointer;
}