<nav class="row">
    <div id="home-page-link" routerLink="/" fragment="landing-section" class="navigation-item">gavin de bruyn</div>

    <mat-icon id="open-hamburger-button" (click)="toggleIsHamburgerMenuOpen()" *ngIf="!isHamburgerMenuOpen">
        menu
    </mat-icon>
    <div id="hamburger-menu" *ngIf="isHamburgerMenuOpen">
        <mat-icon id="close-hamburger-button" (click)="toggleIsHamburgerMenuOpen()">
            close
        </mat-icon>

        <div id="hamburger-navigation-links" class="column">
            <div routerLink="/" class="hamburger-navigation-item" fragment="about-me-section" (click)="toggleIsHamburgerMenuOpen()">
                about me
            </div>
            <div routerLink="/" class="hamburger-navigation-item" fragment="projects-section" (click)="toggleIsHamburgerMenuOpen()">
                projects
            </div>
            <div routerLink="/" class="hamburger-navigation-item" fragment="contact-me-section" (click)="toggleIsHamburgerMenuOpen()">
                contact me
            </div>
            <button class="btn-gradient">Resumé</button>
        </div>
    </div>

    <div id="navigation-links" class="row">
        <div routerLink="/" fragment="about-me-section" class="navigation-item">about me</div>
        <div routerLink="/" fragment="projects-section" class="navigation-item">projects</div>
        <div routerLink="/" fragment="contact-me-section" class="navigation-item">contact me</div>
    </div>

    <button class="btn-gradient">Resumé</button>
</nav>