@use '~@angular/material' as material;
@import '../app.theme';

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;

    & *[buttonPrefix] {
        order: 0;
        margin-right: 10px;
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    &:hover {
        cursor: pointer;
    }
}

button.btn-ghost {
    background: transparent;
    border: 2px solid material.get-color-from-palette($primary-palette, default-contast);
    color: material.get-color-from-palette($primary-palette, default-contrast);
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 4px 7px -4px material.get-color-from-palette($primary-palette, default-contrast);
        transform: translateY(-0.25em);
    }
}

button.btn-gradient {
    background: linear-gradient(material.get-color-from-palette($primary-palette, default), material.get-color-from-palette($primary-palette, default)) padding-box, linear-gradient(to bottom right,  material.get-color-from-palette($accent-palette, default),  material.get-color-from-palette($accent-alternative-palette, default) 100%) border-box;
    border: 3px solid transparent;
    color: material.get-color-from-palette($accent-palette, default);
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
        transform: perspective(1px) scale(1.1);
    }
}