@use '~@angular/material' as material;
@import '../app.theme';

$modal-border-radius: 15px;

.mat-bottom-sheet-container, .mat-dialog-container {
    display: flex !important;
    background: material.get-color-from-palette($primary-palette, default) !important;
    color: material.get-color-from-palette($primary-palette, darker-contrast) !important;
}

.mat-bottom-sheet-container {
    width: 100vw !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
    flex-direction: column;
    border-radius: $modal-border-radius $modal-border-radius 0 0;
}

.mat-dialog-container {
    flex-direction: row;
    border-radius: $modal-border-radius !important;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vh !important;
    max-height: 80vh !important;

    & > * {
        width: 100%;
        height: 100%;
    }
}