@use '~@angular/material' as material;
@import '../app.theme';
@import './utils/apply-to-desktop.mixin';

@mixin typography-styles {
    html {
        font-size: 16px;

        @include apply-to-desktop() {
            font-size: 18px;
        }
    }

    body {
        font-family: $primary-font;
        line-height: 1;
        color: material.get-color-from-palette($primary-palette, default-contrast);
    }

    h1 {
        font-size: 1.87rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1.375rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1rem;
        color: $body-text-color;
    }

    .title {
        padding-bottom: 5px;
        border-bottom: 2px solid material.get-color-from-palette($accent-palette, default);
        margin-bottom: 0;

        @include apply-to-desktop() {
            margin-bottom: 0.83em;
        }
    }
}