@use '~@angular/material' as material;
@import './app/theme/app.theme';
@import './app/theme/mixins/utils/apply-to-desktop.mixin';
@import './app/theme/mixins/typography-styles.mixin';

@include material.all-component-themes($app-theme);
@include material.core();

@include typography-styles();

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: material.get-color-from-palette($primary-palette, default);
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
}